<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="Address" id="address">
        <property name="city" value="Karachi"/>
        <property name="country" value="Pakistan"/>
        <property name="state" value="Sindh"/>
    </bean>

    <bean class="Student" id="student">
        <property name="name" value="Shoaib"/>
        <property name="rollNo" value="085"/>
        <property name="classno" value="Second"/>
        <!--<constructor-arg ref="address"/>-->
        <property name="address" ref="address"/>
    </bean>

</beans>